
{% extends 'myINT/layout.html' %}
<!-- templates/blog.html -->
{% load static %}
{% block title %}BlogDetails{% endblock %}
{% block background %}
<div class="w-full h-32 absolute bg-gradient-to-l from-white via-sky-800 to-neutral-200 overflow-hidden"></div>
{% endblock %}
{% block Page %}

{% load static %}
<style>
  .markdown-content h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  .markdown-content h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  .markdown-content ul {
    margin-left: 1.5rem;
    list-style-type: disc;
  }

  .markdown-content li {
    margin: 0.25rem 0;
  }

  .markdown-content p {
    margin-bottom: 0.75rem;
  }

  .markdown-content strong {
    font-weight: bold;
  }

  .markdown-content em {
    font-style: italic;
  }
</style>

<div class="self-stretch justify-start text-zinc-900 text-4xl font-bold font-['Poppins'] leading-[50px]">{{ blog.title }}</div>

<!-- This WILL render HTML -->
<div>
  <div class="markdown-content">  
  {{ html_content | safe }}
  </div>
</div>

{% endblock %}