.nav-link {
  @apply text-white text-base font-medium font-Poppins leading-normal px-4 py-2 rounded-full transition-all duration-300;
}

.nav-link:hover,
.nav-link:focus {
  @apply bg-white/10;
}

/* Active Case Studies */
.active-case-studies {
  @apply bg-white text-sky-900 font-bold shadow-md;
}

/* General nav-link styling */
.nav-link {
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

/* Active link styling */
.nav-link.active {
    background-color: white;
    color: black;
    border-radius: 16px; /* Rounded corners like in the reference image */
    padding: 8px 16px; /* Adjust padding as needed */
}